.grid {
    display: grid;
    width: 100%;
}

$gaps: (
    none: 0,
    xs: 4px,
    sm: 8px,
    md: 16px,
    lg: 24px,
    xl: 32px,
);

@each $name, $value in $gaps {
    .gap-#{$name} {
        gap: #{$value};
    }
}

@for $i from 1 through 12 {
    .columns-#{$i} {
        grid-template-columns: repeat(#{$i}, 1fr);
    }
}

.align-center {
    align-items: center;
}
.justify-center {
    justify-items: center;
}
