.button {
    border-radius: 10px;
    font-weight: bold;
    text-align: center;
    background-color: var(--adaptiveBlue500);
    color: var(--adaptiveGrey100);
    cursor: pointer;

    &:disabled {
        cursor: not-allowed;
        background-color: var(--adaptiveDisabledBlue500);
        color: var(--tListRowDisabledBackground);
    }
}

.sm {
    font-size: 13px;
    padding: 4px 8px;
}

.md {
    font-size: 15px;
    padding: 8px 16px;
    font-weight: 600;
}

.lg {
    font-size: 17px;
    padding: 12px 24px;
    font-weight: 600;
}

.full {
    width: 100%;
}
